
<div>
    <div class="Friends-Notif">
        @Html.Action("ShowNotifications", "FriendsNotifications")
    </div>
    <div class="Comments-Notif">
    @Html.Action("ShowNotifications", "CommentsNotifications")
    </div>
</div>
