@model IEnumerable<E_GUNLUK.Models.Note>
@{ 
   Layout = null;
}


@foreach (var item in Model)
{

    <div class="blog-grids">
        <div class="blog-grid-left">
            <a href="/Notes/Details/@item.NoteId"><img src="~/Content/images/1.jpg" class="img" alt="" width="85" height="85"/></a>
        </div>
        <div class="blog-grid-right">

            <h5><a href="/Notes/Details/@item.NoteId">@Html.DisplayFor(modelItem => item.Title)</a> </h5>
        </div>
        <div class="clearfix"> </div>
    </div>

}